In [2]:
import warnings 

warnings.filterwarnings('ignore')

In [3]:
import pandas as pd, numpy as np

In [4]:
churn_data = pd.read_csv('churn_data.csv')

In [6]:
churn_data.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
customer_data = pd.read_csv('customer_data.csv')
customer_data.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [10]:
df1 = pd.merge(churn_data, customer_data, on ='customerID',how = 'inner')

In [11]:
df1.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,0,Yes,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,0,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,0,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,0,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,0,No,No

In [13]:
internet_data = pd.read_csv('internet_data.csv')

internet_data.head()

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,No,Fiber optic,No,No,No,No,No,No

In [14]:
telecom = pd.merge(df1, internet_data, on ='customerID', how = 'inner')

In [15]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,...,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,...,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,...,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,...,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,...,No,No,No,Fiber optic,No,No,No,No,No,No

In [16]:
pd.set_option('display.max_columns', 100)

In [17]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,0,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,0,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,0,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,0,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,0,No,No,No,Fiber optic,No,No,No,No,No,No

In [18]:
telecom.describe()

            tenure  MonthlyCharges  SeniorCitizen
count  7043.000000     7043.000000    7043.000000
mean     32.371149       64.761692       0.162147
std      24.559481       30.090047       0.368612
min       0.000000       18.250000       0.000000
25%       9.000000       35.500000       0.000000
50%      29.000000       70.350000       0.000000
75%      55.000000       89.850000       0.000000
max      72.000000      118.750000       1.000000

In [19]:
telecom.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [21]:
telecom.PhoneService.value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [23]:
telecom['PhoneService'].replace('Yes', 1, inplace = True)
telecom['PhoneService'].replace('No', 0, inplace = True)

In [24]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,0,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,0,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,1,One year,No,Mailed check,56.95,1889.5,No,Male,0,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,1,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,0,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,0,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,0,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,1,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,0,No,No,No,Fiber optic,No,No,No,No,No,No

In [25]:
var_list = ['PaperlessBilling', 'Churn', 'Partner', 'Dependents']

telecom[var_list] =  telecom[var_list].apply(lambda x : x.map({'Yes':1, 'No':0}))

In [26]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,0,1,0,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,0,0,0,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,Male,0,0,0,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,Male,0,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,Female,0,0,0,No,Fiber optic,No,No,No,No,No,No

In [27]:
telecom.Contract.value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [28]:
telecom['Contract'].replace('Month-to-month',1, inplace= True)
telecom['Contract'].replace('One year',2, inplace= True)
telecom['Contract'].replace('Two year',3, inplace= True)

In [30]:
telecom.PaymentMethod.value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

In [31]:
telecom['PaymentMethod'].replace('Electronic check',1 , inplace= True)
telecom['PaymentMethod'].replace('Mailed check',2 , inplace= True)
telecom['PaymentMethod'].replace('Bank transfer (automatic)',3 , inplace= True)
telecom['PaymentMethod'].replace('Credit card (automatic)',4 , inplace= True)

In [33]:
telecom['gender'].replace('Male',1, inplace= True)
telecom['gender'].replace('Female',0, inplace= True)

In [34]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,0,1,1,1,29.85,29.85,0,0,0,1,0,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,1,2,0,2,56.95,1889.5,0,1,0,0,0,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,1,1,1,2,53.85,108.15,1,1,0,0,0,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,0,2,0,3,42.30,1840.75,0,1,0,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,1,1,1,1,70.70,151.65,1,0,0,0,0,No,Fiber optic,No,No,No,No,No,No

In [36]:
telecom.InternetService.value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [38]:
telecom['InternetService'].replace('No', 0, inplace = True)
telecom['InternetService'].replace('Fiber optic', 1, inplace= True)
telecom['InternetService'].replace('DSL', 2, inplace = True)

In [39]:
# Creating dummy variables for the remaining categorical variables and dropping the level with big names.

# Creating dummy variables for the variable 'MultipleLines'
ml = pd.get_dummies(telecom['MultipleLines'], prefix='MultipleLines')
# Dropping MultipleLines_No phone service column
ml1 = ml.drop(['MultipleLines_No phone service'], 1)
#Adding the results to the master dataframe
telecom = pd.concat([telecom,ml1], axis=1)

# Creating dummy variables for the variable 'OnlineSecurity'.
os = pd.get_dummies(telecom['OnlineSecurity'], prefix='OnlineSecurity')
os1 = os.drop(['OnlineSecurity_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,os1], axis=1)

# Creating dummy variables for the variable 'OnlineBackup'.
ob = pd.get_dummies(telecom['OnlineBackup'], prefix='OnlineBackup')
ob1 = ob.drop(['OnlineBackup_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,ob1], axis=1)

# Creating dummy variables for the variable 'DeviceProtection'. 
dp = pd.get_dummies(telecom['DeviceProtection'], prefix='DeviceProtection')
dp1 = dp.drop(['DeviceProtection_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,dp1], axis=1)

# Creating dummy variables for the variable 'TechSupport'. 
ts = pd.get_dummies(telecom['TechSupport'], prefix='TechSupport')
ts1 = ts.drop(['TechSupport_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,ts1], axis=1)

# Creating dummy variables for the variable 'StreamingTV'.
st =pd.get_dummies(telecom['StreamingTV'], prefix='StreamingTV')
st1 = st.drop(['StreamingTV_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,st1], axis=1)

# Creating dummy variables for the variable 'StreamingMovies'. 
sm = pd.get_dummies(telecom['StreamingMovies'], prefix='StreamingMovies')
sm1 = sm.drop(['StreamingMovies_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,sm1], axis=1)

In [40]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,MultipleLines_No,MultipleLines_Yes,OnlineSecurity_No,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,7590-VHVEG,1,0,1,1,1,29.85,29.85,0,0,0,1,0,No phone service,2,No,Yes,No,No,No,No,0,0,1,0,0,1,1,0,1,0,1,0,1,0
1,5575-GNVDE,34,1,2,0,2,56.95,1889.5,0,1,0,0,0,No,2,Yes,No,Yes,No,No,No,1,0,0,1,1,0,0,1,1,0,1,0,1,0
2,3668-QPYBK,2,1,1,1,2,53.85,108.15,1,1,0,0,0,No,2,Yes,Yes,No,No,No,No,1,0,0,1,0,1,1,0,1,0,1,0,1,0
3,7795-CFOCW,45,0,2,0,3,42.30,1840.75,0,1,0,0,0,No phone service,2,Yes,No,Yes,Yes,No,No,0,0,0,1,1,0,0,1,0,1,1,0,1,0
4,9237-HQITU,2,1,1,1,1,70.70,151.65,1,0,0,0,0,No,1,No,No,No,No,No,No,1,0,1,0,1,0,1,0,1,0,1,0,1,0

In [41]:
# We have created dummies for the below variables, so we can drop them
telecom = telecom.drop(['MultipleLines','OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'], 1)

In [43]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents,InternetService,MultipleLines_No,MultipleLines_Yes,OnlineSecurity_No,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,7590-VHVEG,1,0,1,1,1,29.85,29.85,0,0,0,1,0,2,0,0,1,0,0,1,1,0,1,0,1,0,1,0
1,5575-GNVDE,34,1,2,0,2,56.95,1889.5,0,1,0,0,0,2,1,0,0,1,1,0,0,1,1,0,1,0,1,0
2,3668-QPYBK,2,1,1,1,2,53.85,108.15,1,1,0,0,0,2,1,0,0,1,0,1,1,0,1,0,1,0,1,0
3,7795-CFOCW,45,0,2,0,3,42.30,1840.75,0,1,0,0,0,2,0,0,0,1,1,0,0,1,0,1,1,0,1,0
4,9237-HQITU,2,1,1,1,1,70.70,151.65,1,0,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0

In [44]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerID            7043 non-null   object
 1   tenure                7043 non-null   int64
 2   PhoneService          7043 non-null   int64
 3   Contract              7043 non-null   int64
 4   PaperlessBilling      7043 non-null   int64
 5   PaymentMethod         7043 non-null   int64
 6   MonthlyCharges        7043 non-null   float64
 7   TotalCharges          7043 non-null   object
 8   Churn                 7043 non-null   int64
 9   gender                7043 non-null   int64
 10  SeniorCitizen         7043 non-null   int64
 11  Partner               7043 non-null   int64
 12  Dependents            7043 non-null   int64
 13  InternetService       7043 non-null   int64
 14  MultipleLines_No      7043 non-null   uint8
 15  MultipleLines_Yes     7043 non-null   uint8
 16  OnlineSecurity_No     7043 non-null   uint8
 17  OnlineSecurity_Yes    7043 non-null   uint8
 18  OnlineBackup_No       7043 non-null   uint8
 19  OnlineBackup_Yes      7043 non-null   uint8
 20  DeviceProtection_No   7043 non-null   uint8
 21  DeviceProtection_Yes  7043 non-null   uint8
 22  TechSupport_No        7043 non-null   uint8
 23  TechSupport_Yes       7043 non-null   uint8
 24  StreamingTV_No        7043 non-null   uint8
 25  StreamingTV_Yes       7043 non-null   uint8
 26  StreamingMovies_No    7043 non-null   uint8
 27  StreamingMovies_Yes   7043 non-null   uint8
dtypes: float64(1), int64(11), object(2), uint8(14)
memory usage: 921.6+ KB

In [53]:
telecom['TotalCharges'] = pd.to_numeric(telecom['TotalCharges'], errors= 'coerce')

telecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerID            7043 non-null   object
 1   tenure                7043 non-null   int64
 2   PhoneService          7043 non-null   int64
 3   Contract              7043 non-null   int64
 4   PaperlessBilling      7043 non-null   int64
 5   PaymentMethod         7043 non-null   int64
 6   MonthlyCharges        7043 non-null   float64
 7   TotalCharges          7032 non-null   float64
 8   Churn                 7043 non-null   int64
 9   gender                7043 non-null   int64
 10  SeniorCitizen         7043 non-null   int64
 11  Partner               7043 non-null   int64
 12  Dependents            7043 non-null   int64
 13  InternetService       7043 non-null   int64
 14  MultipleLines_No      7043 non-null   uint8
 15  MultipleLines_Yes     7043 non-null   uint8
 16  OnlineSecurity_No     7043 non-null   uint8
 17  OnlineSecurity_Yes    7043 non-null   uint8
 18  OnlineBackup_No       7043 non-null   uint8
 19  OnlineBackup_Yes      7043 non-null   uint8
 20  DeviceProtection_No   7043 non-null   uint8
 21  DeviceProtection_Yes  7043 non-null   uint8
 22  TechSupport_No        7043 non-null   uint8
 23  TechSupport_Yes       7043 non-null   uint8
 24  StreamingTV_No        7043 non-null   uint8
 25  StreamingTV_Yes       7043 non-null   uint8
 26  StreamingMovies_No    7043 non-null   uint8
 27  StreamingMovies_Yes   7043 non-null   uint8
dtypes: float64(2), int64(11), object(1), uint8(14)
memory usage: 921.6+ KB

In [54]:
telecom.dtypes

customerID               object
tenure                    int64
PhoneService              int64
Contract                  int64
PaperlessBilling          int64
PaymentMethod             int64
MonthlyCharges          float64
TotalCharges            float64
Churn                     int64
gender                    int64
SeniorCitizen             int64
Partner                   int64
Dependents                int64
InternetService           int64
MultipleLines_No          uint8
MultipleLines_Yes         uint8
OnlineSecurity_No         uint8
OnlineSecurity_Yes        uint8
OnlineBackup_No           uint8
OnlineBackup_Yes          uint8
DeviceProtection_No       uint8
DeviceProtection_Yes      uint8
TechSupport_No            uint8
TechSupport_Yes           uint8
StreamingTV_No            uint8
StreamingTV_Yes           uint8
StreamingMovies_No        uint8
StreamingMovies_Yes       uint8
dtype: object

In [55]:
telecom.select_dtypes(include ='int64')

,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,Churn,gender,SeniorCitizen,Partner,Dependents,InternetService
0,1,0,1,1,1,0,0,0,1,0,2
1,34,1,2,0,2,0,1,0,0,0,2
2,2,1,1,1,2,1,1,0,0,0,2
3,45,0,2,0,3,0,1,0,0,0,2
4,2,1,1,1,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
7038,24,1,2,1,2,0,1,0,1,1,2
7039,72,1,2,1,4,0,0,0,1,1,1
7040,11,0,1,1,1,0,0,0,1,1,2
7041,4,1,1,1,2,1,1,1,1,0,1
7042,66,1,3,1,3,0,1,0,0,0,1

In [56]:
telecom.isnull().sum()

customerID               0
tenure                   0
PhoneService             0
Contract                 0
PaperlessBilling         0
PaymentMethod            0
MonthlyCharges           0
TotalCharges            11
Churn                    0
gender                   0
SeniorCitizen            0
Partner                  0
Dependents               0
InternetService          0
MultipleLines_No         0
MultipleLines_Yes        0
OnlineSecurity_No        0
OnlineSecurity_Yes       0
OnlineBackup_No          0
OnlineBackup_Yes         0
DeviceProtection_No      0
DeviceProtection_Yes     0
TechSupport_No           0
TechSupport_Yes          0
StreamingTV_No           0
StreamingTV_Yes          0
StreamingMovies_No       0
StreamingMovies_Yes      0
dtype: int64

In [59]:
telecom = telecom[~np.isnan(telecom['TotalCharges'])]

In [60]:
telecom.isnull().sum()

customerID              0
tenure                  0
PhoneService            0
Contract                0
PaperlessBilling        0
PaymentMethod           0
MonthlyCharges          0
TotalCharges            0
Churn                   0
gender                  0
SeniorCitizen           0
Partner                 0
Dependents              0
InternetService         0
MultipleLines_No        0
MultipleLines_Yes       0
OnlineSecurity_No       0
OnlineSecurity_Yes      0
OnlineBackup_No         0
OnlineBackup_Yes        0
DeviceProtection_No     0
DeviceProtection_Yes    0
TechSupport_No          0
TechSupport_Yes         0
StreamingTV_No          0
StreamingTV_Yes         0
StreamingMovies_No      0
StreamingMovies_Yes     0
dtype: int64

In [61]:
from sklearn.model_selection import train_test_split

In [66]:
X = telecom.drop(['customerID','Churn'], axis = 1)

X.shape

(7032, 26)

In [64]:
y = telecom['Churn']
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [67]:
X.head()

,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,Partner,Dependents,InternetService,MultipleLines_No,MultipleLines_Yes,OnlineSecurity_No,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,1,0,1,1,1,29.85,29.85,0,0,1,0,2,0,0,1,0,0,1,1,0,1,0,1,0,1,0
1,34,1,2,0,2,56.95,1889.50,1,0,0,0,2,1,0,0,1,1,0,0,1,1,0,1,0,1,0
2,2,1,1,1,2,53.85,108.15,1,0,0,0,2,1,0,0,1,0,1,1,0,1,0,1,0,1,0
3,45,0,2,0,3,42.30,1840.75,1,0,0,0,2,0,0,0,1,1,0,0,1,0,1,1,0,1,0
4,2,1,1,1,1,70.70,151.65,0,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size= 0.7, test_size= 0.3, random_state= 100)

In [78]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [79]:
X_train[['tenure','MonthlyCharges','TotalCharges']] = scaler.fit_transform(X_train[['tenure','MonthlyCharges','TotalCharges']])

In [80]:
X_train.head()

,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,Partner,Dependents,InternetService,MultipleLines_No,MultipleLines_Yes,OnlineSecurity_No,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
879,0.019693,1,1,1,3,-0.338074,-0.276449,1,0,0,0,2,0,1,1,0,0,1,1,0,1,0,1,0,1,0
5790,0.305384,0,1,1,1,-0.464443,-0.112702,0,0,1,1,2,0,0,1,0,0,1,1,0,1,0,0,1,0,1
6498,-1.286319,1,1,1,1,0.581425,-0.974430,0,0,0,0,1,1,0,1,0,0,1,0,1,1,0,1,0,1,0
880,-0.919003,1,1,1,1,1.505913,-0.550676,1,0,0,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1
2784,-1.163880,1,1,1,3,1.106854,-0.835971,0,0,0,1,1,1,0,1,0,1,0,0,1,0,1,0,1,0,1

In [81]:
X_test = X_test.drop(['MultipleLines_No','OnlineSecurity_No','OnlineBackup_No','DeviceProtection_No','TechSupport_No',
                       'StreamingTV_No','StreamingMovies_No'], 1)
X_train = X_train.drop(['MultipleLines_No','OnlineSecurity_No','OnlineBackup_No','DeviceProtection_No','TechSupport_No',
                         'StreamingTV_No','StreamingMovies_No'], 1)

In [82]:
import statsmodels.api as sm

In [83]:
# Logistic regression model
logm1 = sm.GLM(y_train,(sm.add_constant(X_train)), family = sm.families.Binomial())
logm1.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 4922
Model:                            GLM   Df Residuals:                     4902
Model Family:                Binomial   Df Model:                           19
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -2012.8
Date:                Tue, 16 May 2023   Deviance:                       4025.5
Time:                        18:04:10   Pearson chi2:                 6.17e+03
No. Iterations:                     7   Pseudo R-squ. (CS):             0.2820
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.9271      0.292      3.179      0.001       0.356       1.499
tenure                  -1.4190      0.185     -7.660      0.000      -1.782      -1.056
PhoneService            -1.1607      0.180     -6.438      0.000      -1.514      -0.807
Contract                -0.6473      0.093     -6.927      0.000      -0.830      -0.464
PaperlessBilling         0.3462      0.090      3.862      0.000       0.170       0.522
PaymentMethod           -0.1232      0.036     -3.393      0.001      -0.194      -0.052
MonthlyCharges           1.0086      0.094     10.682      0.000       0.824       1.194
TotalCharges             0.6457      0.195      3.313      0.001       0.264       1.028
gender                  -0.0403      0.078     -0.516      0.606      -0.193       0.113
SeniorCitizen            0.4085      0.101      4.037      0.000       0.210       0.607
Partner                  0.0616      0.093      0.661      0.509      -0.121       0.244
Dependents              -0.1605      0.107     -1.502      0.133      -0.370       0.049
InternetService          0.0882      0.077      1.138      0.255      -0.064       0.240
MultipleLines_Yes        0.0505      0.099      0.511      0.609      -0.143       0.244
OnlineSecurity_Yes      -0.5468      0.104     -5.272      0.000      -0.750      -0.343
OnlineBackup_Yes        -0.3414      0.094     -3.622      0.000      -0.526      -0.157
DeviceProtection_Yes    -0.2056      0.097     -2.126      0.034      -0.395      -0.016
TechSupport_Yes         -0.5678      0.102     -5.551      0.000      -0.768      -0.367
StreamingTV_Yes         -0.0775      0.104     -0.745      0.456      -0.281       0.126
StreamingMovies_Yes     -0.1865      0.104     -1.798      0.072      -0.390       0.017
========================================================================================
"""

In [84]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [86]:
from sklearn.feature_selection import RFE
rfe = RFE(logreg, n_features_to_select= 15)             # running RFE with 13 variables as output
rfe = rfe.fit(X_train, y_train)

In [87]:
list(zip(X_train.columns, rfe.support_, rfe.ranking_))

[('tenure', True, 1),
 ('PhoneService', True, 1),
 ('Contract', True, 1),
 ('PaperlessBilling', True, 1),
 ('PaymentMethod', True, 1),
 ('MonthlyCharges', True, 1),
 ('TotalCharges', True, 1),
 ('gender', False, 5),
 ('SeniorCitizen', True, 1),
 ('Partner', False, 3),
 ('Dependents', True, 1),
 ('InternetService', True, 1),
 ('MultipleLines_Yes', False, 4),
 ('OnlineSecurity_Yes', True, 1),
 ('OnlineBackup_Yes', True, 1),
 ('DeviceProtection_Yes', True, 1),
 ('TechSupport_Yes', True, 1),
 ('StreamingTV_Yes', False, 2),
 ('StreamingMovies_Yes', True, 1)]

In [89]:
col = X_train.columns[rfe.support_]
col

Index(['tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'SeniorCitizen',
       'Dependents', 'InternetService', 'OnlineSecurity_Yes',
       'OnlineBackup_Yes', 'DeviceProtection_Yes', 'TechSupport_Yes',
       'StreamingMovies_Yes'],
      dtype='object')

In [90]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [100]:
vif =pd.DataFrame()
vif['Features'] = X_train[col].columns
vif['VIF'] = [variance_inflation_factor(X_train[col].values, i) for i in range(X_train[col].shape[1])]

vif.sort_values(by ='VIF', ascending = False)

                Features        VIF
2               Contract  11.122235
6           TotalCharges  10.470325
1           PhoneService   7.725423
0                 tenure   6.910544
4          PaymentMethod   5.879314
9        InternetService   4.795115
5         MonthlyCharges   4.729530
14   StreamingMovies_Yes   2.855466
3       PaperlessBilling   2.686739
12  DeviceProtection_Yes   2.349945
11      OnlineBackup_Yes   2.270049
13       TechSupport_Yes   2.181419
10    OnlineSecurity_Yes   2.073941
8             Dependents   1.569928
7          SeniorCitizen   1.310207

In [102]:
X_train_1 = X_train.drop(['Contract','TotalCharges','PhoneService','tenure'], axis =1)
X_test_1 = X_test.drop(['Contract','TotalCharges','PhoneService','tenure'], axis =1)

In [104]:
logreg = LogisticRegression()

rfe = RFE(logreg, n_features_to_select= 15)

rfe = rfe.fit(X_train_1, y_Train)

In [126]:
# Logistic regression model
logm1 = sm.GLM(y_train,(sm.add_constant(X_train_1)), family = sm.families.Binomial())
res = logm1.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 4922
Model:                            GLM   Df Residuals:                     4906
Model Family:                Binomial   Df Model:                           15
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -2235.7
Date:                Tue, 16 May 2023   Deviance:                       4471.4
Time:                        19:02:03   Pearson chi2:                 4.84e+03
No. Iterations:                     5   Pseudo R-squ. (CS):             0.2140
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.0993      0.141      0.703      0.482      -0.178       0.376
PaperlessBilling         0.4210      0.085      4.960      0.000       0.255       0.587
PaymentMethod           -0.2921      0.034     -8.646      0.000      -0.358      -0.226
MonthlyCharges           1.1500      0.071     16.172      0.000       1.011       1.289
gender                  -0.0723      0.074     -0.973      0.330      -0.218       0.073
SeniorCitizen            0.4253      0.095      4.480      0.000       0.239       0.611
Partner                 -0.3394      0.085     -3.997      0.000      -0.506      -0.173
Dependents              -0.2345      0.101     -2.329      0.020      -0.432      -0.037
InternetService          0.4785      0.065      7.309      0.000       0.350       0.607
MultipleLines_Yes       -0.4072      0.088     -4.611      0.000      -0.580      -0.234
OnlineSecurity_Yes      -0.9749      0.096    -10.109      0.000      -1.164      -0.786
OnlineBackup_Yes        -0.7252      0.086     -8.457      0.000      -0.893      -0.557
DeviceProtection_Yes    -0.5125      0.089     -5.770      0.000      -0.687      -0.338
TechSupport_Yes         -0.9489      0.095     -9.958      0.000      -1.136      -0.762
StreamingTV_Yes         -0.2501      0.096     -2.615      0.009      -0.438      -0.063
StreamingMovies_Yes     -0.3577      0.095     -3.768      0.000      -0.544      -0.172
========================================================================================
"""

In [117]:
list(zip(X_train_1, rfe.support_, rfe.ranking_))

[('PaperlessBilling', True, 1),
 ('PaymentMethod', True, 1),
 ('MonthlyCharges', True, 1),
 ('gender', True, 1),
 ('SeniorCitizen', True, 1),
 ('Partner', True, 1),
 ('Dependents', True, 1),
 ('InternetService', True, 1),
 ('MultipleLines_Yes', True, 1),
 ('OnlineSecurity_Yes', True, 1),
 ('OnlineBackup_Yes', True, 1),
 ('DeviceProtection_Yes', True, 1),
 ('TechSupport_Yes', True, 1),
 ('StreamingTV_Yes', True, 1),
 ('StreamingMovies_Yes', True, 1)]

In [118]:
vif = pd.DataFrame()

vif['Features'] = X_train_1.columns

vif['VIF']= [variance_inflation_factor(X_train_1.values, i) for i in range(X_train_1.shape[1])]

vif.sort_values(by = 'VIF', ascending = False)

                Features       VIF
1          PaymentMethod  4.465845
7        InternetService  4.080160
14   StreamingMovies_Yes  2.800669
2         MonthlyCharges  2.789395
13       StreamingTV_Yes  2.773622
5                Partner  2.562590
0       PaperlessBilling  2.506447
8      MultipleLines_Yes  2.229565
11  DeviceProtection_Yes  2.213739
10      OnlineBackup_Yes  2.094517
12       TechSupport_Yes  2.015797
9     OnlineSecurity_Yes  1.928235
6             Dependents  1.896517
3                 gender  1.868562
4          SeniorCitizen  1.328946

In [124]:
X_train_1_sm = sm.add_constant(X_train_1)

In [159]:
y_train_predict = res.predict(X_train_1_sm).values

In [160]:
y_train_predict[:10]

array([0.27041862, 0.22169576, 0.53437272, 0.19734317, 0.28734649,
       0.59376471, 0.17230846, 0.74978594, 0.36075117, 0.37064722])

In [161]:
y_train_pred_final = pd.DataFrame({'Churn':y_train.values, 'Churn_Prob':y_train_predict})
y_train_pred_final['CustID'] = y_train.index
y_train_pred_final.head()

   Churn  Churn_Prob  CustID
0      0    0.270419     879
1      0    0.221696    5790
2      1    0.534373    6498
3      1    0.197343     880
4      1    0.287346    2784

In [162]:
y_train_pred_final['predicted'] = y_train_pred_final['Churn_Prob'].apply(lambda x : 1 if x>0.5 else 0)

y_train_pred_final

      Churn  Churn_Prob  CustID  predicted
0         0    0.270419     879          0
1         0    0.221696    5790          0
2         1    0.534373    6498          1
3         1    0.197343     880          0
4         1    0.287346    2784          0
...     ...         ...     ...        ...
4917      0    0.042385      79          0
4918      0    0.033866    3934          0
4919      0    0.049859    5964          0
4920      0    0.236793    6947          0
4921      0    0.073341    5649          0

[4922 rows x 4 columns]

In [163]:
from sklearn import metrics

In [164]:
confusion = metrics.confusion_matrix(y_train_pred_final.Churn, y_train_pred_final.predicted)

In [165]:
print(confusion)

[[3308  327]
 [ 743  544]]

In [168]:
# Let's check the overall accuracy.
print(metrics.accuracy_score(y_train_pred_final.Churn, y_train_pred_final.predicted)*100)

78.26086956521739

In [167]:
vif = pd.DataFrame()

vif['Features'] = X_train_1_sm.columns

vif['VIF']= [variance_inflation_factor(X_train_1_sm.values, i) for i in range(X_train_1_sm.shape[1])]

vif.sort_values(by = 'VIF', ascending = False)

                Features        VIF
0                  const  14.238539
3         MonthlyCharges   3.453916
14       StreamingTV_Yes   1.779639
15   StreamingMovies_Yes   1.770607
8        InternetService   1.468072
12  DeviceProtection_Yes   1.456728
9      MultipleLines_Yes   1.421841
13       TechSupport_Yes   1.420189
10    OnlineSecurity_Yes   1.378271
11      OnlineBackup_Yes   1.364506
6                Partner   1.343613
7             Dependents   1.340175
1       PaperlessBilling   1.186517
5          SeniorCitizen   1.138551
2          PaymentMethod   1.132525
4                 gender   1.001402